{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact Form</title>
    <link rel="stylesheet" href="{% static 'payment/style.css' %}" />
     <script language="javascript" type="text/javascript">
    var seat=document.getElementById('setc')
   var price=document.getElementById('sprice')
    sessionStorage.getItem("time");
    document.getElementById('setc').value=sessionStorage.time;
    </script>
    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    {% for i in moviedetails %}
    <div class="container">
      <span class="big-circle"></span>
      <img src="img/shape.png" class="square" alt="" />
      <div class="form">
        <div class="contact-info">
          <h3 class="title">{{i.mname}}</h3>
          
          <img src="{{i.img.url}}" style="width:100%; height: 500px;">
          
          
        </div>

        <div class="contact-form">
          <span class="circle one"></span>

          <form  method='post' autocomplete="off">
            <br>
            <br>
            <br>
            <h3 class="title1">______ Details ______</h3>
            <table border="0px" cellspacing="2" cellpadding="1" align="center">
              <tr align="center">
                <td>TICKET PRICE</td>
                <td width="50%">{{i.ticket_price}}</td>
                
              </tr>
            </table>
            <br>
            <table border="0px" cellspacing="2" cellpadding="1" align="center">
              <tr align="center">
                <td>TOTAL SEATS </td>
                <td width="50%"><span id="count">0</span></td>
              </tr>            
            </table>
            <br>
            <table border="0px" cellspacing="2" cellpadding="1" align="center">
              <tr align="center">
                <td>SHOW TIME </td>
                <td width="50%"><span id="time"></span></td>
                <td><hr></td>
              </tr>          
            </table>
            <br>
            <input name='setc' id='setc'  hidden>
           <input name='sprice' id='sprise' hidden>
            <table border="0px" cellspacing="2" cellpadding="1" align="center">
              <tr align="center">
                <td>TOTAL PRICE</td>
                <td width="50%"><span id="total">0</span></td>
              </tr>              
            </table>
            <!-- <input type="submit" value="Send" class="btn" /> -->
          </form>
          <p class="arrow">-----> <a href="details\{{i.mname}}"><input type="submit" value="Continue to checkout" class="btn"></a> <------</p>
        </div>
      </div>
    </div>

    <script src="{% static 'payment/app.js' %}"></script>
    {% endfor %}
  </body>
</html>
